@import-normalize;
/* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Manrope:wght@400;500;600;700;900&display=swap');

html,
body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #fff;
  background: rgb(101, 115, 150);
  background: linear-gradient(
    180deg,
    rgba(101, 115, 150, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );

  width: 100%;
  min-height: 100vh;
  letter-spacing: 0.02em;
  font-size: 14px;
  margin: 0 auto;
  transition: 1.5s;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

/* body.no-scroll {
  overflow: hidden;
}

@media (max-width: 768px) {
  body.no-scroll {
    overflow: auto;
  }
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

a,
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
}

svg {
  display: block;
}
