@import-normalize;
 /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Manrope:wght@400;500;600&display=swap');

html,
body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #fff;

  /* background: linear-gradient(to right, rgba(47, 48, 58, 0.1), rgba(47, 48, 58, 0.5)), url(https://images.unsplash.com/photo-1530569673472-307dc017a82d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1976&q=80);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; */
  background: rgb(101,115,150);
background: linear-gradient(180deg, rgba(101,115,150,1) 0%, rgba(255,255,255,1) 100%);

  width: 100%;
  min-height: 100vh;
  letter-spacing: 0.02em;
  font-size: 14px;
  /* line-height: 1.2; */
  overflow-x: hidden;
  margin: 0 auto;
  transition: 1.5s;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

a,
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

img {
  display: block;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center center;
}

svg {
  display: block;
}
